dash
pandas
gunicorn
dash_bootstrap_components<1
plotly.express
dash_mantine_components
datetime
matplotlib.colors
dash_core_components
dash_html_components
numpy
google-api-python-client
google-auth-httplib2 
google-auth-oauthlib

